<%= form_for @entry do |f| %>
<ul class="entry-form">
  <li><%= f.label :stools %>
  <%= f.text_field :stools %></li>
  <li><%= f.label :ab_pain%>
  <%= f.text_field :ab_pain %></li>
  <li><%= f.label :general %>
  <%= f.text_field :general %></li>
  <li><%= f.label :complication_arthritis %>
  <%= f.check_box :complication_arthritis %></li>
  <li><%= f.label :complication_iritis %>
  <%= f.check_box :complication_iritis %></li>
  <li><%= f.label :complication_erythema %>
  <%= f.check_box :complication_erythema %></li>
  <li><%= f.label :complication_fistula %>
  <%= f.check_box :complication_fistula %></li>
  <li><%= f.label :complication_other_fistula %>
  <%= f.check_box :complication_other_fistula %></li>
  <li><%= f.label :complication_fever %>
  <%= f.check_box :complication_fever %></li>
  <li><%= f.label :opiates %>
  <%= f.check_box :opiates %></li>
  <li><%= f.label :mass %>
  <%= f.text_field :mass %></li>
  <li><%= f.label :hematocrit %>
  <%= f.text_field :hematocrit %></li>
  <li><%= f.label :weight_current %>
  <%= f.text_field :weight_current %></li>
  <%= f.submit "Submit Entry" %> 
</ul>
<% end %>