<h2>Score: <%= @entry.score %></h2>
<p>Stools: <%= @entry.stools %></p>
<p>Abdominal Pain: <%= @entry.ab_pain %></p>
<p>General: <%= @entry.general %></p>
<p>Arthritis: <%= @entry.complication_arthritis %></p>
<p>Iritis: <%= @entry.complication_iritis %></p>
<p>Erythema: <%= @entry.complication_erythema %></p>
<p>Fistula: <%= @entry.complication_fistula %></p>
<p>Fever: <%= @entry.complication_fever %></p>
<p>Other Fistula: <%= @entry.complication_other_fistula %></p>
<p>Opiates: <%= @entry.opiates %></p>
<p>Abdominal Mass: <%= @entry.mass %></p>
<p>Hematocrit: <%= @entry.hematocrit %></p>
<p>Current Weight: <%= @entry.weight_current %></p>
<p>Date: <%= @entry.date %></p>
<p>Created At: <%= @entry.created_at %></p>